
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      mode="side"
      #sidenav
      mode="side"
      opened="false"
      class="sidenav"
    >
      <mat-toolbar color="primary" class="top-header">
        <img src="assets/images/home.png" alt="Logo" class="logo-home" />
      </mat-toolbar>
      <mat-nav-list class="nav-link-home">

          <mat-list-item>
            <mat-icon>home</mat-icon>
            <a mat-button routerLink="/list-component">Home</a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>person</mat-icon>
            <a mat-button routerLink="/list-component">Clientes</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>person</mat-icon>
            <a mat-button routerLink="/list-client-selected"
              >Clientes Selecionados</a
            >
          </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="top-bar-container">
        <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>

        <app-header></app-header>
      </div>

      <div class="content-header">
        <h2>16 clientes encontrados</h2>
      </div>

      <div class="bnt-create">
        <app-button
          (click)="goToSelected()"
          [labelButton]="'Ver clientes selecionados'"
        >
        </app-button>
      </div>

      <div class="cards-grid">
        <mat-card
          *ngFor="let clients of clients"
          class="client-card"
          [class.selected]="clientSelected(clients)"
        >
          <button mat-icon-button (click)="selectedCliente(clients)">
            <mat-icon>
              {{
                clientSelected(clients)
                  ? "check_circle"
                  : "radio_button_unchecked"
              }}
            </mat-icon>
          </button>

          <mat-card-title>{{ clients.name }}</mat-card-title>
          <mat-card-content>
            <p>Salário: R$ {{ clients.salary }}</p>
            <p>Empresa: R$ {{ clients.companyValuation }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="primary">
              <mat-icon>add</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              (click)="modalEdit(clients.id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="red"
              (click)="deleteClient(clients.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-card>
        <div class="bnt-create">
          <app-button
            type="submit"
            (click)="modalCreate()"
            [labelButton]="'Criar cliente'"
          ></app-button>
        </div>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
